config ARCH_EFI
	bool
	select OF_CONTROL
	select DM_SERIAL

if ARCH_EFI

if X86

choice
	prompt "Mainboard model"
	optional

config TARGET_EFI_X86_APP32
	bool "32-bit efi application"
	select EFI_APP
	help
	  This target is used for running U-Boot on top of EFI. In
	  this case EFI does the early initialisation, and U-Boot
	  starts once the RAM, video and CPU are fully running.
	  U-Boot is loaded as an application from EFI.

config TARGET_EFI_X86_APP64
	bool "64-bit efi application"
	select EFI_APP
	select X86_64 if X86
	help
	  This target is used for running U-Boot on top of EFI in 64-bit mode.
	  In this case EFI does the early initialisation, and U-Boot
	  starts once the RAM, video and CPU are fully running.
	  U-Boot is loaded as an application from EFI.

config TARGET_EFI_X86_PAYLOAD
	bool "efi payload"
	help
	  This target is used for running U-Boot on top of EFI. In
	  this case EFI does the early initialisation, and U-Boot
	  takes over once the RAM, video and CPU are fully running.
	  U-Boot is loaded as a payload from EFI.

endchoice

source "board/efi/efi-x86_app/Kconfig"
source "board/efi/efi-x86_payload/Kconfig"

endif  # X86

if ARM

choice
	prompt "Mainboard model"
	optional

config TARGET_EFI_ARM_APP64
	bool "64-bit efi application"
	select EFI_APP
	select SYS_CUSTOM_LDSCRIPT
	select ARM64
	help
	  This target is used for running U-Boot on top of EFI in 64-bit mode.
	  In this case EFI does the early initialisation, and U-Boot
	  starts once the RAM, video and CPU are fully running.
	  U-Boot is loaded as an application from EFI.

config TARGET_EFI_ARM_PAYLOAD64
	bool "64-bit efi payload"
	select SYS_CUSTOM_LDSCRIPT
	select ARM64
	help
	  This target is used for running U-Boot on top of EFI. In
	  this case EFI does the early initialisation, and U-Boot
	  takes over once the RAM, video and CPU are fully running.
	  U-Boot is loaded as a payload from EFI.

endchoice

source "board/efi/efi-arm_app/Kconfig"
source "board/efi/efi-arm_payload/Kconfig"

endif  # ARM

endif  # ARCH_EFI
