# SPDX-License-Identifier: GPL-2.0+

# Grab our configured image.  The source for this is found
# in the u-boot tree at tools/docker/Dockerfile
image: trini/u-boot-gitlab-ci-runner:jammy-20230126-17Feb2023

# We run some tests in different order, to catch some failures quicker.
stages:
  - hwlab

.hwlab_template: &hwlab_dfn
  tags: [ 'hwlab' ]
  stage: hwlab
  before_script:
    # Clone uboot-test-hooks
    - git config --global --add safe.directory "${CI_PROJECT_DIR}"

  script:
    # Environment:
    #   SRC  - source tree
    #   ROOT - directory above that
    #   OUT  - output directory for builds
    - export SRC="$(pwd)"
    - ROOT="$(dirname ${SRC})"
    - export BUILDMAN="${SRC}/tools/buildman/buildman"
    - export OUT="${ROOT}/out"
    - export PATH=$PATH:~/bin
    - export PATH=/vid/software/devel/ubtest/u-boot-test-hooks/bin:${PATH};

    - if [ -n "${blobs_from}" ]; then
        cp -v ${blobs_from}/*.bin ${blobs_to};
      fi

    # Do the build
    - ret=0;
      ${BUILDMAN} -o ${OUT} --board ${board} -k -W || ret=$?;
      if [[ $ret -ne 0 && $ret -ne 129 ]]; then
        ./tools/buildman/buildman -o ${OUT} -sdeP;
        exit $ret;
      fi;

    # Load it on the device
    - echo PATH $PATH
    - ${SRC}/test/py/test.py -B $board --id ${id}
        --build-dir ${OUT}/current/$board -k ${test_spec}

  after_script:
    - echo done

samus test:
  variables:
    board: "chromebook_samus"
    id: "sjg-samus"
    blobs_from: "/vid/software/devel/samus/bin"
    blobs_to: "board/google/chromebook_samus/"
    test_spec: "help"
  <<: *hwlab_dfn

rpi3 test:
  variables:
    board: "rpi_3_32b"
    id: "sjg-rpi_3b"
    test_spec: "help"
  <<: *hwlab_dfn
