# SPDX-License-Identifier: GPL-2.0+

# Grab our configured image.  The source for this is found at:
# https://gitlab.denx.de/u-boot/gitlab-ci-runner
image: trini/u-boot-gitlab-ci-runner:bionic-20191010-20Oct2019

# We run some tests in different order, to catch some failures quicker.
stages:
  - hwlab

sjg_rpi3b:
  tags: [ 'rpi3b' ]
  stage: hwlab
  script:
    # Environment:
    #   SRC  - source tree
    #   ROOT - directory above that
    #   OUT  - output directory for builds
    - export SRC="$(pwd)"
    - ROOT="$(dirname ${SRC})"
    - export BUILDMAN="${SRC}/tools/buildman/buildman"
    - export OUT="${ROOT}/out"
    - export PATH=$PATH:~/bin
    - export PATH=$PATH:$HOME/u-boot-test-hooks/bin
    - export b=rpi_3_32b

    # Do the build
    - ret=0;
      ${BUILDMAN} -o ${OUT} --board $b -k || ret=$?;
      if [[ $ret -ne 0 && $ret -ne 129 ]]; then
        ./tools/buildman/buildman -o ${OUT} -sdeP;
        exit $ret;
      fi;

    # Load it on the device
    - ${SRC}/test/py/test.py -B $b --id sjg-rpi_3b
        --build-dir ${OUT}/current/$b -k help

  after_script:
    - echo done
