# SPDX-License-Identifier: GPL-2.0+

# Grab our configured image.  The source for this is found
# in the u-boot tree at tools/docker/Dockerfile
image: trini/u-boot-gitlab-ci-runner:jammy-20230126-17Feb2023

# We run some tests in different order, to catch some failures quicker.
stages:
  - hwlab

sjg_rpi3b:
  tags: [ 'hwlab' ]
  stage: hwlab
  before_script:
    # Clone uboot-test-hooks
    - git config --global --add safe.directory "${CI_PROJECT_DIR}"
    - git clone --depth=1 https://github.com/sjg20/uboot-test-hooks.git /tmp/uboot-test-hooks
    - ln -s kea /tmp/uboot-test-hooks/bin/`hostname`
    - ln -s kea /tmp/uboot-test-hooks/py/`hostname`

  after_script:
    - rm -rf /tmp/uboot-test-hooks

  script:
    # Environment:
    #   SRC  - source tree
    #   ROOT - directory above that
    #   OUT  - output directory for builds
    - export SRC="$(pwd)"
    - ROOT="$(dirname ${SRC})"
    - export BUILDMAN="${SRC}/tools/buildman/buildman"
    - export OUT="${ROOT}/out"
    - export PATH=$PATH:~/bin
    - export PATH=$PATH:$HOME/u-boot-test-hooks/bin
    - export PATH=/tmp/uboot-test-hooks/bin:${PATH};
    - export PATH=$PATH:/tmp/ykush/bin
    - export board=rpi_3_32b

    - pip install -r test/py/requirements.txt

    # Do the build
    - ret=0;
      ${BUILDMAN} -o ${OUT} --board ${board} -k -W || ret=$?;
      if [[ $ret -ne 0 && $ret -ne 129 ]]; then
        ./tools/buildman/buildman -o ${OUT} -sdeP;
        exit $ret;
      fi;

    # Load it on the device
    - echo PATH $PATH
    - ${SRC}/test/py/test.py -B $board --id sjg-rpi_3b
        --build-dir ${OUT}/current/$board -k help

  after_script:
    - echo done
