menu "Sandbox architecture"
	depends on SANDBOX

config SYS_ARCH
	default "sandbox"

config SYS_BOARD
	default "sandbox"

config TARGET_SANDBOX
	bool "Support sandbox"

config TARGET_CHROMEOS_SANDBOX
	bool "Support Chrome OS sandbox"

source "board/sandbox/Kconfig"

endmenu
