if EFI_APP

config SYS_BOARD
	default "efi-arm_app"

config SYS_VENDOR
	default "efi"

config SYS_SOC
	default "efi"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	imply VIDEO_EFI

config SYS_LDSCRIPT
	default "arch/arm/lib/elf_aarch64_efi.lds"

endif
