// SPDX-License-Identifier: GPL-2.0+

/dts-v1/;

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	binman {
		nxp-imx8mcst {
			args;	/* TODO: Needed by mkimage etype superclass */
			nxp,loader-address = <0x12340000>;
			nxp,unlock;

			nxp-imx8mimage {
				args;	/* TODO: Needed by mkimage etype superclass */
				nxp,boot-from = "sd";
				nxp,rom-version = <1>;
				nxp,loader-address = <0x10>;

				section {
				};
			};
		};
	};
};
