menu "x86 architecture"
	depends on X86

config SYS_ARCH
	default "x86"

choice
	prompt "Target select"

config TARGET_COREBOOT
	bool "Support coreboot"

config TARGET_CHROMEBOOK_LINK
	bool "Support Chromebook link"

endchoice

config RAMBASE
	hex
	default 0x100000

config RAMTOP
	hex
	default 0x200000

config XIP_ROM_SIZE
	hex
	default 0x10000

config CPU_ADDR_BITS
	int
	default 36

config HPET_ADDRESS
	hex
	default 0xfed00000 if !HPET_ADDRESS_OVERRIDE

config SMM_TSEG
	bool
	default n

config SMM_TSEG_SIZE
	hex

config ROM_SIZE
	hex
	default 0x800000

config HAVE_ACPI_RESUME
	bool
	default n

config SMP
	bool
	default y if MAX_CPUS != 1
	default n
	help
	  This option is used to enable certain functions to make coreboot
	  work correctly on symmetric multi processor (SMP) systems.

source "arch/x86/cpu/ivybridge/Kconfig"

source "board/google/chromebook_link/Kconfig"

endmenu
