#
# File system configuration
#

menu "File systems"

config FS
	bool "Support for filesystems"
	default y if SANDBOX || VENDOR_EMULATION || ARCH_QEMU
	depends on EXPERT
	help
	  Provides an interface for filesystems, allowing them to be
	  persistently mounted. Filesystem can contain files and directory.

config DIR
	bool "Support for directories"
	depends on FS
	default y if SANDBOX || VENDOR_EMULATION || ARCH_QEMU
	help
	  Provides an interface for directories within filesystems, allowing
	  them to be listed.

config FILE
	bool "Support for files"
	default y if SANDBOX || VENDOR_EMULATION || ARCH_QEMU
	help
	  Provides an interface for files, allowing them to be opened, read,
	  written and modified. Files are children of a filesystem device
	  (UCLASS_FS). Note that a UCLASS_FILE device is only created when it
	  is opened.

config FS_LEGACY
	def_bool y
	help
	  Enables legacy support for filesystems. This provides an interface
	  which can talk to one filesystem at a time, with the filesystem being
	  re-mounted on each operation.

config SPL_FS_LEGACY
	bool
	depends on SPL
	help
	  Enables legacy support for filesystems in SPL. This provides an
	  interface which can talk to one filesystem at a time, with the
	  filesystem being re-mounted on each operation.

source "fs/btrfs/Kconfig"

source "fs/cbfs/Kconfig"

source "fs/exfat/Kconfig"

source "fs/ext4/Kconfig"

source "fs/fat/Kconfig"

source "fs/jffs2/Kconfig"

source "fs/sandbox/Kconfig"

source "fs/ubifs/Kconfig"

source "fs/cramfs/Kconfig"

source "fs/yaffs2/Kconfig"

source "fs/squashfs/Kconfig"

source "fs/erofs/Kconfig"

endmenu
