/programs/aes/aescrypt2
/programs/hash/hello
/programs/hash/md5sum
/programs/hash/sha1sum
/programs/hash/sha2sum
/programs/pkey/dh_client
/programs/pkey/dh_genprime
/programs/pkey/dh_server
/programs/pkey/mpi_demo
/programs/pkey/rsa_genkey
/programs/pkey/rsa_sign
/programs/pkey/rsa_verify
/programs/ssl/ssl_client1
/programs/ssl/ssl_client2
/programs/ssl/ssl_server
/programs/test/benchmark
/programs/test/selftest
/programs/test/ssl_test
