CONFIG_ARM=y
CONFIG_ARCH_EFI_ARM=y
CONFIG_DEFAULT_DEVICE_TREE="efi-arm64_payload"
CONFIG_TARGET_EFI_ARM_PAYLOAD64=y

CONFIG_EFI_CLIENT=y
CONFIG_EFI_STUB=y
CONFIG_EFI_STUB_64BIT=y

CONFIG_PL01X_SERIAL=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_BASE=0x894000
#CONFIG_DEBUG_UART_NS16550=y
CONFIG_DEBUG_UART_CLOCK=14745600
# CONFIG_EFI_LOADER is not set
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_DEBUG_UART_PL011=y
