+S:CONFIG_ARM=y
+S:CONFIG_ARCH_ROCKCHIP=y
+S:CONFIG_ROCKCHIP_RK3288=y
+S:CONFIG_TARGET_FIREFLY_RK3288=y
+S:CONFIG_DEFAULT_DEVICE_TREE="rk3288-firefly"
+S:CONFIG_DEBUG_UART=y
+S:CONFIG_DEBUG_UART_NS16550=y
+S:CONFIG_DEBUG_UART_BASE=0xff690000
+S:CONFIG_DEBUG_UART_CLOCK=24000000
+S:CONFIG_DEBUG_UART_SHIFT=2
CONFIG_USE_PRIVATE_LIBGCC=y
