#include "qcom_defconfig"

# Broken?? Probably an issue with mapping the memory
CONFIG_QCOM_COMMAND_DB=n

CONFIG_EFI=y
CONFIG_EFI_STUB=y
CONFIG_EFI_STUB_64BIT=y

CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_BASE=0x894000
CONFIG_DEBUG_UART_MSM_GENI=y
CONFIG_DEBUG_UART_CLOCK=14745600

CONFIG_DEFAULT_ENV_FILE="board/qualcomm/efistub.env"
CONFIG_DEFAULT_DEVICE_TREE="qcom/x1e80100-crd"
#CONFIG_DEFAULT_DEVICE_TREE="qcom/x1p64100-acer-swift-sf14-11"
CONFIG_USB_KEYBOARD=y
CONFIG_HID_I2C=y
#CONFIG_PANIC_HANG=y
CONFIG_ERRNO_STR=y
# CONFIG_CONSOLE_PAGER=y
CONFIG_CMD_CONSOLE_EXTRA=y
