#include "qcom_defconfig"

# Broken?? Probably an issue with mapping the memory
CONFIG_QCOM_COMMAND_DB=n

CONFIG_EFI=y
CONFIG_EFI_STUB=y
CONFIG_EFI_STUB_64BIT=y

CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_BASE=0x894000
CONFIG_DEBUG_UART_MSM_GENI=y
CONFIG_DEBUG_UART_CLOCK=14745600

CONFIG_DEFAULT_ENV_FILE="board/qualcomm/efistub.env"
CONFIG_DEFAULT_DEVICE_TREE="qcom/x1e80100-crd"
CONFIG_USB_KEYBOARD=y
