# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright 2025 Simon Glass <sjg@chromium.org>
#

config EFI
	bool
	help
	  Indicates that EFI functionality is enabled, either via EFI_CLIENT or
	  EFI_LOADER

	  This is used to provide libraries shared by both.

if EFI_LOADER || EFI_APP

config EFI_BINARY_EXEC
	bool "Execute UEFI binary"
	default y
	help
	  Select this option if you want to execute the UEFI binary after
	  loading it with U-Boot load commands or other methods.
	  You may enable CMD_BOOTEFI_BINARY so that you can use bootefi
	  command to do that.

config EFI_DEVICE_PATH_TO_TEXT
	bool "Device path to text protocol"
	default y
	help
	  The device path to text protocol converts device nodes and paths to
	  human readable strings.

endif # EFI_LOADER || EFI_APP
