// SPDX-License-Identifier: GPL-2.0+
/*
 * Definition for how to boot Ubuntu 24.04
 *
 * This contains the various components needed to boot Ubuntu 24.04 Desktop. It
 * provides a description of the process, similar to a grub.cfg file.
 *
 * The file format of this is TBD, but yaml might be a suitable choice. For now,
 * devicetree is used as it is convenient for U-Boot
 */

&boot_ctl {
	compatible = "bootctl,ubuntu-desktop", "bootctl,base";

	options {
		/* use persistent storage for variables */
		persistent-state;

		/* store a default OS in the persistent storage */
		default-os;
	};

	oslist {
		compatible = "bootctl,extlinux-oslist";
	};

	state {
		compatible = "bootctl,simple-state", "bootctl,state";

		/* revisit, as we may want to reference the hardware device */
		location = "hostfs", "0";
		filename = "bootctl.ini";
	};

	ui {
		compatible = "bootctl,simple-ui", "bootctl,ui";
		graphical = "if-available";
		textual = "if-available";
	};
};
